:root {
  --purple: #DCDDE8;
  --grey: #343a40;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Abuget'; /*a name to be used later*/
    src: url('../fonts/Abuget.ttf'); /*URL to font*/
}

.container{
  width: 1000px;
  font-size: 20px;
}

.navbar{
  padding: 0;
}

.navbar a.active{
  color: black;
}

.maincontainer{
  width: 90%;
  margin: auto;
  max-width: 850px;
}

.row{
  margin: 0;
}

h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

h3{
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.infosmenu{
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.horizontalbox h4 {
  text-align: center;
  margin: 30px;
  margin-top : 10px;
}

.horizontalbox{
  display: flex;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 0.8px;
  border-radius: 2px;
  overflow: hidden;
}

.imageside{
  background-image: url("../images/vision.jpg");
  background-size: cover;
  width: 26%;
}

.textside{
  width: 74%;
  padding: 10px;
  float: left;
  text-align: justify;
}

.horizontalbox p{
  margin : 0;
}

.supporters{
  padding-top: 20px;
  padding-bottom: 20px;
}

.financers{
  padding-top: 20px;
  padding-bottom: 20px;
}

.logos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logos img{
  width: 100%;
  max-width: 160px;
  height: auto;
  margin: 10px;
}

.logocarre{
  max-width: 110px !important;
}

.socialmedia .maincontainer{
  text-align: center;
  padding-bottom: 20px;
}

footer{
  padding-bottom: 10px;
}

.footertext{
  text-align: right;
  margin-right: 10px;
}

/* page2 */
.col-md{
  padding: 0;
}

#videopresentation {
  padding-top: 20px;
  padding-bottom : 50px;
}

#boxpresentation img{
  display: block;
  width: 70%;
  max-width: 200px;
  border-radius:50%;
  margin: auto;
}

#boxpresentation p{
  text-align: justify;
  padding: 20px;
  max-width: 350px;
  margin: auto;
  margin-bottom: 40px;
}

#participer{
  margin-bottom: 40px;
}

#participer .maincontainer{
  text-align: center;
}
#participer h3{
  margin: 0;
}

/* page 3 (vision ) */

#boxequipe{
  text-align: center;
}

#boxequipe .equipe_presentation{
  padding : 20px;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 30px;
}

#boxequipe img{
  display: block;
  width: 70%;
  max-width: 200px;
  margin: auto;
}

#boxequipe .col-md p{
  padding-left: 15px;
  padding-right: 15px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 40px;
}

#offres_emploi{
  margin-bottom: 100px;
}

#offres_emploi #titre_poste{
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#offres_emploi h6{
  font-weight: bold;
}

#offres_emploi #postuler_btn{
  position: absolute;
  bottom: 10px;
  width: 70%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 25px;
}

#offres_emploi .modal{
  padding-right: 0 !important;
}

#offres_emploi .col-md-5{
  background-image: url("../images/developpeur.jpg");
  background-size: cover;
  background-position: center;
  padding: 0;
  min-height: 300px;
}

#offres_emploi .col-md-7{
  background-color: #EAE6DA;
  max-height: 300px;
  overflow: auto;
  padding: 30px;
}
/* MEDIA QUERY */
@media screen and (max-width: 600px) {
  .container{
     margin: 0px 15px 0px 15px;
  }

  h1{
    font-size: 40px;
  }

  .imageside{
    width: 100%;
  }

  .textside{
    width: 100%;
  }

  .alignright{
    text-align: left;
  }

  .right{
    flex-direction: column-reverse;
  }

  .logos img{
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 800px){
  #participe .box_ks{
    flex-wrap: wrap-reverse;
  }

  #participe .box_ks p{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }

  #participe .box_ks h3{
    margin-bottom: 10px;
  }
}
